@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    width: 1200px;
    margin: 0px 120px;
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.box-left {
    background-color: rgba(251, 251, 251, 1);
    float: left;
    clear: both;
}

.navigation {
    margin-left: 18px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 14px;
}

.list-wrapper {
    padding-left: 12px;
}

.list-wrapper {
    margin-top: 13px;
}

.list-wrapper a {
    margin-top: 23px;
    font-size: 15px;
    line-height: 40px;
    transition: 0.2s;
}   

.list-wrapper a:hover {
    color: rgba(70, 163, 88, 1);
    font-weight: 700;
}

.promo {
    width: 310px;
    height: 470px;
    margin-top: 375px;
}

.box-right {
    float: left;
    margin-left: 50px;
}

.wrapper {
    width: 838px;
    margin-bottom: 31px;
}

.navigation-cards a {
    margin-right: 37px;
}

.navigation-cards a:last-child {
    margin-right: 0;
}

.navigation-cards a:hover {
    color: rgba(70, 163, 88, 1);
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid ;
    transition: 0.1s;
}

.navigation-cards {
    float: left;
}

.list-short {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}   

.card-section:nth-child(n+3) {
    margin-top: 70px;
}

.cards {
    position: relative;
    float: left;
    margin-right: 33px;
}

.cards:nth-child(3n) {
    margin-right: 0px;
}

.image {
    padding: 31px 4px;
}

.image-wrapper {
    background-color: rgba(251, 251, 251, 1);
    width: 258px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.text-cards {
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
}

.price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(70, 163, 88, 1);
}

.pages {
    font-size: 0;
    margin-top: 50px;
    text-align: right;
}

.pages p {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid rgba(61, 61, 61, 1);
    border-radius: 3px;
    padding: 9px 12px;
    margin-right: 10px;
}

.pages p:last-child {
    margin-right: 0;
}

.pages p:active {
    color: white;
    background-color: rgba(70, 163, 88, 1);
    font-size: 18px;
    font-weight: 700;
    transition: 0.1s;
}

.card-hover {
    display: flex;
    justify-content: center;
    gap: 26px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
    transition: 0.2s;
}

.cards:hover .card-hover {
    bottom: 7px;
}

.cards::before {
    content: "";
    height: 2px;
    background-color: rgba(70, 163, 88, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

.cards:hover::before {
    display: block;
}